:root {
  --Almost-White: hsl(0, 0%, 98%);
  --Medium-Gray: hsl(0, 0%, 41%);
  --Almost-Black: hsl(0, 0%, 8%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Epilogue", sans-serif;
  font-size: 18px;
}

/* Menu-mobile */

.menu {
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
  padding: 16px;
  position: relative;
}

.menu-desktop {
  background-color: var(--Almost-White);
  height: 100vh;
  position: absolute;
  right: 100px;
  top: 60px;
}

/* Section- */
.section-container {
  display: flex;
  flex-direction: column-reverse;
}

.section-description {
  margin-block-start: 24px;
  padding-inline: 16px;
  text-align: center;
}

.section-description h1 {
  color: var(--Almost-Black);
  font-size: 32px;
}

.section-description p {
  color: var(--Medium-Gray);
  font-size: 16px;
  line-height: 24px;
  margin-block-start: 24px;
  margin-block-end: 40px;
}

.description-button {
  background-color: var(--Almost-Black);
  border-radius: 12px;
  color: var(--Almost-White);
  cursor: pointer;
  padding-block: 16px;
  padding-inline: 24px;
  text-decoration: none;
}

.description-button:hover {
  background-color: var(--Almost-White);
  border: 1px solid var(--Medium-Gray);
  color: var(--Almost-Black);
  font-weight: bold;
}

.description-banner {
  display: flex;
  gap: 20px;
  margin-top: 0px;
}

.description-banner img {
  min-height: 100px;
  object-fit: contain;
  min-width: 70px;
}

.section-img img {
  height: 100%;
  object-fit: contain;
  width: 100%;
}

/* Footer */
footer {
  margin-block: 32px;
}

.attribution {
  font-size: 15px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
