:root {
  --Almost-White: hsl(0, 0%, 98%);
  --Medium-Gray: hsl(0, 0%, 41%);
  --Almost-Black: hsl(0, 0%, 8%);
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Epilogue", sans-serif;
}

/* Menu mobile */
.container {
  margin: 0 auto;
  max-width: 1200px;
  overflow: hidden; /* Esconde todo lo que salga del contenido visual */
  width: 90%;
}

.nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
  height: 70px;
}

.nav__hamburguer {
  background-image: url("../img/icon-menu.svg");
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  height: 50%;
  transition: background-image 0.3s;
  width: 30px;
  z-index: 100;
}

.nav__hamburguer--open {
  background-image: url("../img/icon-close-menu.svg");
}

.nav__overlay {
  background-color: #000000a7;
  inset: 0; /*Posiciona en base a todo el navegador */
  opacity: 0;
  pointer-events: none;
  position: fixed;
  transition: 0.3s opacity;
}

.nav__overlay--show {
  opacity: 1;
  pointer-events: unset;
}

.nav__menu {
  background-color: #ffffff;
  list-style: none;
  max-width: 400px;
  overflow: auto;
  padding: 70px 0;
  position: absolute;
  bottom: 0;
  top: 0;
  right: 0;
  width: 65%;
}

.nav__item {
  color: var(--Almost-Black);
  cursor: pointer;
  margin: 0 auto;
  padding: 20px 0;
  width: 80%;
}

.nav__item:has(.nav__parent) {
  padding: 0;
}

.nav__inner {
  display: grid;
  gap: 1.5em;
  height: 0;
  list-style: none;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  transition: height 0.4s;
  width: 80%;
}

.nav__parent {
  align-items: center;
  display: grid;
  grid-auto-columns: max-content;
  grid-auto-flow: column;
  gap: 1.3em;
  padding: 20px 0;
}

.nav__link {
  color: var(--Almost-Black);
  text-decoration: none;
}

.nav__login {
  margin: 0 auto;
  text-align: center;
  width: 90%;
}

.nav__login--border {
  border: 1px solid var(--Medium-Gray);
  border-radius: 1em;
  margin-top: 20px;
}

.nav__sign {
  color: var(--Medium-Gray);
  cursor: pointer;
  display: inline-block;
  padding: 10px 0;
  text-decoration: none;
}

/* main */
.main__section {
  display: grid;
  grid-template-columns: 5% 1fr 5%;
  grid-template-areas:
    "img img img"
    ". text .";
}

.main__article {
  grid-area: text;
  padding: 56px 0;
  text-align: center;
}

.main__title {
  font-size: 2rem;
}

.main__paragraph {
  color: var(--Medium-Gray);
  font-size: 18px;
  line-height: 1.5;
  margin: 1.5em 0;
}

.main__button {
  background-color: var(--Almost-Black);
  border-radius: 10px;
  color: var(--Almost-White);
  display: inline-block;
  font-weight: 700;
  padding: 0.8em 1.5em;
  text-decoration: none;
}

.main__picture {
  grid-area: img;
  margin: 0 auto;
  max-width: 400px;
}

.main__img {
  width: 100%;
}

.main__brands {
  align-items: center;
  display: grid;
  gap: 1em;
  grid-auto-columns: minmax(30px, 100px);
  grid-auto-flow: column;
  justify-content: space-between;
  margin: 40px 0 80px;
}

.main__brand {
  width: 100%;
}

/* Footer */
footer {
  margin-block: 32px;
}

.attribution {
  font-size: 15px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 768px) {
  .container {
    overflow: visible;
  }

  .nav {
    gap: 2em;
    padding: 50px 0 0;
  }

  .nav__hamburguer {
    display: none;
  }

  .nav__overlay {
    background-color: transparent;
    flex: 1;
    opacity: 1;
    pointer-events: unset;
    position: unset;
  }

  .nav__menu {
    align-items: center;
    background-color: unset;
    display: flex;
    gap: 1em;
    max-width: unset;
    overflow: unset;
    padding: 0;
    position: unset;
    width: 100%;
  }

  .nav__item {
    margin: 0;
    padding: 0;
    position: relative;
    width: max-content;
  }

  .nav__inner {
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    height: auto;
    padding: 2em;
    pointer-events: none;
    position: absolute;
    left: 0;
    opacity: 0;
    transition: opacity 0.3s;
    width: max-content;
    z-index: 1000;
  }

  .nav__inner--show {
    opacity: 1;
    pointer-events: unset;
  }
}
